<div ng-controller="SettingsController" class="user" data-ng-init="onInit()">

    <div id="wrapper">

        <div id="genericHeading">
            <a href ng-click="goToPage('/')"><img src="img/logo-small.png" width="100" height="43" alt="[matrix]"/></a>
        </div>

        <h1>Settings</h1>
        <div class="section">
            <form>
                <div class="profile-avatar">
                    <img ng-src="{{ (null !== profile.avatarUrl) ? httpUri(profile.avatarUrl, 320, 320) : 'img/default-profile.png' }}" m-file-input="profile.avatarFile"/>
                </div>
                <div>
                    <input id="user-displayname-input" size="40" ng-model="profile.displayName" placeholder="Your display name"/>
                    <br/>
                    <button id="user-save-button"
                            ng-disabled="(profile.displayName === profileOnServer.displayName) && (profile.avatarUrl === profileOnServer.avatarUrl)"
                            ng-click="saveProfile()">Save changes</button>
                </div>
            </form>
        </div>
        <br/>

        <h3>Linked emails</h3>
        <div class="section">
            <form>
                <input size="40" ng-model="linkedEmails.linkNewEmail" ng-enter="linkEmail(linkedEmails.linkNewEmail)" />
                <button ng-disabled="!linkedEmails.linkNewEmail" ng-click="linkEmail(linkedEmails.linkNewEmail)">
                    Link Email
                </button>
                {{ emailFeedback }}
            </form>
            <form ng-hide="!linkedEmails.emailBeingAuthed">
                Enter validation token for {{ linkedEmails.emailBeingAuthed }}:
                <br />
                <input size="20" ng-model="linkedEmails.emailCode" ng-enter="submitEmailCode(linkedEmails.emailCode)" />
                <button ng-disabled="!linkedEmails.emailCode || !linkedEmails.linkNewEmail" ng-click="submitEmailCode(linkedEmails.emailCode)">
                    Submit Code
                </button>   
            </form>
            <table>
                <tr ng-repeat="(address, info) in linkedEmails.linkedEmailList">
                    <td>{{address}}</td>
                </tr>
            </table>
        </div>
        <br/>

        <div class="section" ng-show="payment.url">
            <h3>OpenMarket Matrix Gateway</h3>
            <!--
            <p>
                If you want to send and receive SMS via Matrix using OpenMarket by messaging Matrix IDs resembling <code>@+447700900123:matrix.openmarket.com</code>, you require credit on your OpenMarket Matrix Gateway account.
            </p> 
            <p>
                You currently have {{payment.credit}} of credit available.
            </p>
            <p>
                <button ng-click='getCredit()'>Add Credit</button>
            </p>
            -->
            <p>
                It is possible to send and receive SMS via Matrix using the <a href="http://www.openmarket.com/matrix">OpenMarket Matrix Gateway</a> by messaging Matrix IDs resembling <code>@+447700900123:matrix.openmarket.com</code>.  During beta testing, messages incur no cost (with a per-user fair usage limit), but you must link your account to PayPal as a security measure.
            </p> 
            <p>
                <button ng-click='getCredit()'>Link PayPal account</button>
            </p>
        </div>

        <h3>Push Notifications</h3>
        <div class="section">
            <p>
                Rules are applied in order; the first rule which matches defines the outcome for the message.<br/>
                So: Per-word notifications are more important than per-room notifications which are more important than per-sender notifications.<br/>
                For multiple rules of the same kind, the first one in the list that matches takes priority.<br/>
            </p>
            <h4>Per-Word notifications</h4>
            <div class="section">
                <p>
                    Words match case insensitively, and may include a *
                    wildcard. So:<br/>
                    <b>foo</b> matches the string <i>foo</i>
                    surrounded by word delimiters (e.g. punctuation and
                    whitespace or start/end of line).<br/>
                    <b>foo*</b> matches any
                    such word that begins <i>foo</i>.<br/>
                    <b>*foo*</b> matches any
                    such word which includes the 3 letters <i>foo</i>.
                </p>
                <ul>
                    <li ng-repeat="rule in settings.rules.content" ng-if="rule.rule_id[0] != '.'">
                        <button ng-click="deleteContentRule(rule)" ng-disabled="rule.inprogress">Delete</button>
                        '{{rule.pattern}}': <span ng-repeat="a in rule.actions"><i>{{stringForAction(a)}}</i> </span>
                        <img src="img/spinner.gif" ng-show="rule.inprogress" />
                    </li>
                    <li>
                        <form ng-submit="addContentRule();">
                            <input type="text" ng-model="content_rule_add_input" />
                            <select ng-model="rule_add_action.content">
                                <option value="notify">Always Notify</option>
                                <option value="dont_notify">Never Notify</option>
                            </select>
                            Sound: <input type="checkbox" ng-model="rule_add_sound.content" />
                            <input type="submit" value="Add" ng-disabled="!content_rule_add_input || rule_add_inprogress.content" />
                            <img src="img/spinner.gif" ng-show="rule_add_inprogress.content" />
                        </form>
                    </li>
                </ul>
            </div>
            <h4>Per-Room notifications</h4>
            <div class="section">
                <ul>
                    <li ng-repeat="rule in settings.rules.room" ng-if="rule.rule_id[0] != '.'">
                        <button ng-click="deleteRoomRule(rule)" ng-disabled="rule.inprogress">Delete</button>
                        Room: '{{rooms[rule.rule_id].name}}': <span ng-repeat="a in rule.actions"><i>{{stringForAction(a)}}</i> </span>
                        <img src="img/spinner.gif" ng-show="rule.inprogress" />
                    </li>
                    <li>
                        <form ng-submit="addRoomRule()">
                            <select ng-model="room_rule_add_input">
                                <option ng-repeat="(room_id, room) in rooms" value="{{room_id}}">{{room.name}} (Room)</option>
                            </select>
                            <select ng-model="rule_add_action.room">
                                <option value="notify">Always Notify</option>
                                <option value="dont_notify">Never Notify</option>
                            </select>
                            Sound: <input type="checkbox" ng-model="rule_add_sound.room" />
                            <input type="submit" value="Add" ng-disabled="!room_rule_add_input || rule_add_inprogress.room" />
                            <img src="img/spinner.gif" ng-show="rule_add_inprogress.room" />
                        </form>
                    </li>
                </ul>
            </div>
            <h4>Per-Sender notifications</h4>
            <div class="section">
                <p>e.g. <b>@user:matrix.org</b></p>
                <ul>
                    <li ng-repeat="rule in settings.rules.sender" ng-if="rule.rule_id[0] != '.'">
                        <button ng-click="deleteSenderRule(rule)" ng-disabled="rule.inprogress">Delete</button>
                        '{{rule.rule_id}}': <span ng-repeat="a in rule.actions"><i>{{stringForAction(a)}}</i> </span>
                        <img src="img/spinner.gif" ng-show="rule.inprogress" />
                    </li>
                    <li>
                        <form ng-submit="addSenderRule();">
                            <input type="text" ng-model="sender_rule_add_input" />
                            <select ng-model="rule_add_action.sender">
                                <option value="notify">Always Notify</option>
                                <option value="dont_notify">Never Notify</option>
                            </select>
                            Sound: <input type="checkbox" ng-model="rule_add_sound.sender" />
                            <input type="submit" value="Add" ng-disabled="!sender_rule_add_input || rule_add_inprogress.sender" />
                            <img src="img/spinner.gif" ng-show="rule_add_inprogress.sender" />
                        </form>
                    </li>
                </ul>
            </div>
            <h4>Other Rules</h4>
            <div class="section">
                <ul>
                    <li ng-repeat="rule in settings.default_rules">
                        {{rule.description}}
                        <input type="checkbox" ng-model="rule.enabled" ng-change="updateDefaultRule(rule)" />
                        <img src="img/spinner.gif" ng-show="rule.inprogress" />
                    </li>
                </ul>
            </div>
        </div>
        <br/>
        
        <h3>Desktop notifications</h3>
        <p>
            <i><b>Desktop notification settings are currently not synchronised with Push Notification settings, but will be shortly superceded by the Push Notifications settings above.</b></i>
        </p>
        <div class="section" ng-switch="settings.notifications">
            <div ng-switch-when="granted">
                <div>
                    <button ng-click="toggleMute()" style="font-size: 14pt">
                        {{config.muteNotifications ? "Unmute desktop notifications" : "Mute desktop notifications"}}
                    </button>
                </div>
                <div ng-hide="config.muteNotifications">
                    <label><input type="checkbox" ng-change="updateAudioNotification()" ng-model="settings.audioNotifications">Enable audio for notifications</label>
                </div>
                <div class="section" ng-hide="config.muteNotifications">
                    <h4>Specific words to alert on:</h4>
                    <p>If blank, all messages will trigger an alert. Your username & display name always alerts.</p>
                    <input size=40 name="bingWords" ng-model="settings.bingWords" ng-list placeholder="Enter words separated with , (supports regex)"
                    ng-blur="saveBingWords()"/>
                    <ul>
                        <li ng-repeat="word in settings.bingWords">{{word}}</li>
                    </ul>
                </div>
            </div>
            <div ng-switch-when="denied">
                You have denied permission for notifications.<br/>
                To enable it, reset the notification setting for this web site in your browser settings.
            </div>
            <div ng-switch-when="default">
                <button ng-click="requestNotifications()" style="font-size: 14pt">Enable desktop notifications</button>
            </div>
            <div ng-switch-default="">
                Sorry, your browser does not support notifications.
            </div>
        </div>
        <br/>
        
        <h3>Configuration</h3>
        <div class="section">
            <div>Home server: {{ config.homeserver }} </div>
            <div>Identity server: {{ config.identityServer }} </div>
            <div>User ID: {{ config.user_id }} </div>
            <div>Access token: {{ config.access_token }} </div>
        </div>
        <br/>
        
        <h3>Commands</h3>
        <div class="section">
            The following commands are available in the room chat:
            <ul>
                <li>/nick &lt;display_name&gt;: change your display name</li>
                <li>/me &lt;action&gt;: send the action you are doing. /me will be replaced by your display name</li>
                <li>/join &lt;room_alias&gt;: join a room</li>
                <li>/kick &lt;user_id&gt; [&lt;reason&gt;]: kick the user</li>
                <li>/ban &lt;user_id&gt; [&lt;reason&gt;]: ban the user</li>
                <li>/unban &lt;user_id&gt;: unban the user</li>
                <li>/op &lt;user_id&gt; &lt;power_level&gt;: set user power level</li>
                <li>/deop &lt;user_id&gt;: reset user power level to the room default value</li>
            </ul>
        </div>
        <br/>        

        <div class="feedback">{{ feedback }}</div>
        

    </div>    
</div>
