<div ng-controller="PaymentController" class="user" data-ng-init="onInit()">
	<div id="wrapper">
		<form method="post" action={{purchase.url}}>
			<label>Number to top up:</label> 
			<input type="tel" name="number" ng-model=purchase.number placeholder="+1 0123456789"/>
			<br/>
			<label>Amount: $</label>
			<input type="number" name="amount" min="0.01" step="0.01" ng-model=purchase.amount />
			<br/>
			<input type="submit" value="Pay Now" 
			ng-disabled="purchase.amount == 0 || purchase.number.length < 10"/>
		</form>
	</div>
</div>